body {
    background-color: #f6f6fc;
    color: #3b3b3b;
    font-family: Montserrat;
}

nav {
    background-color: white;
    z-index: 1;
}

.d-flex {
    align-items: center;
}

.navbar-brand {
    color: #fe6d5a;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 24px;
}

.navbar-brand:hover {
    color: #4a3175;
    font-family: sans-serif;
    font-weight: 900;
    font-size: 24px;
}

.nav-link {
    color: #4a3175;
    font-size: 18px;
    font-weight: 500;
}

.main {
    margin: 20px;
}

.card {
    border-radius: 15px;
    border-width: 0px;
    margin-bottom: 30px;
}
.card-highlight {
    font-size: 36px;
    font-weight: 900;
    margin: 0px;
}

.card-text {
    font-size: 16px;
    font-weight: 600;
}

.card-table {
    margin: 0px;
    padding: 0px;
}

.header {
    font-size: 22px;
    font-weight: 900;
}

.btn-primary {
    color: #ffff;
    background-color: #fe6d5a;
    border-width: 1.5px;
    border-color: #fe6d5a;
    border-radius: 50px;
    font-size: 16px;
    padding: 4px 32px 4px 32px;
    margin-left: 4px;
    margin-right: 4px;
}

.btn-secondary {
    color: #fe6d5a;
    background-color: #ffffff;
    border-radius: 50px;
    border-width: 1.5px;
    border-color: #fe6d5a;
    font-size: 16px;
    padding: 4px 32px 4px 32px;
    margin-left: 4px;
    margin-right: 4px;
}

.btn-large {
    color: white;
    background-color: #4a3175;
    border-radius: 50px;
    border-color: #4a3175;
    border-width: 2px;
    font-size: 16px;
    padding: 8px 68px 8px 68px;
    font-weight: normal;
}

.btn-large-secondary {
    color: #fe6d5a;
    background-color: white;
    border-radius: 50px;
    border-color: #fe6d5a;
    border-width: 2px;
    font-size: 16px;
    padding: 8px 68px 8px 68px;
    font-weight: normal;
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: #4a3175;
    border-color: #4a3175;
}

.btn-large:hover {
    color: white;
    background-color: #fe6d5a;
    border-radius: 50px;
    border-color: white;
    border-width: 2px;
    font-size: 16px;
    padding: 8px 68px 8px 68px;
    font-weight: normal;
}

.btn-large-secondary:hover {
    color: white;
    background-color: #4a3175;
    border-radius: 50px;
    border-color: #4a3175;
    border-width: 2px;
    font-size: 16px;
    padding: 8px 68px 8px 68px;
    font-weight: normal;
}

.purple {
    color: #4a3175;
}

.green {
    color: #53a190;
}

.red {
    color: #e2626b;
}

.grey {
    color: #939fb0;
}
.black {
    color: #3b3b3b;
}
